@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
  color: white;
  background-color: #00444E; /* или #111 для контраста */
  overflow-x: hidden;
}
