@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
  color: white;
  background: linear-gradient(115deg, #00444E 0%, #2D6168 53%, #E1A873 100%);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;

  /* Блокируем горизонтальные жесты, оставляем вертикальный скролл */
  touch-action: pan-y;
  /* Опционально — запрет выделения и перетаскивания */
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.services,
.hero {
  background-attachment: fixed;
  background-position: center center;

  /* Тоже запрещаем горизонтальные свайпы */
  touch-action: pan-y;
}
