body {
    margin: 0;
    padding: 0;
   background: url('/ashdod.png') center/cover no-repeat;
    background-size: cover;
    font-family: 'Assistant', sans-serif;
    color: white;
  }
  
  body::before {
    content: '';
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4); /* затемнение сверху */
    z-index: -1;
  }
  